{:paths ["src" "resources"]
 :deps
 {org.xhtmlrenderer/flying-saucer-core {:mvn/version "9.1.22"}
  org.clj-commons/hickory {:mvn/version "0.7.4"},
  babashka/babashka.curl {:mvn/version "0.1.2"},
  babashka/fs {:mvn/version "0.4.19"},
  babashka/process {:mvn/version "0.5.21"},
  hiccup/hiccup {:mvn/version "2.0.0-RC1"},
  http-kit/http-kit {:mvn/version "2.7.0-RC1"},
  org.babashka/babashka.impl.java {:mvn/version "0.1.8"}
  cheshire/cheshire {:mvn/version "5.12.0"}
  org.clojure/clojure {:mvn/version "1.11.1"}
  tick/tick {:mvn/version "0.7.5"}}
  :aliases {:build {:extra-deps {io.github.clojure/tools.build {:git/tag "v0.9.6" :git/sha "8e78bcc"}}
                    :ns-default build}}}

